@import "bulma_cust.less";
@import "charts.less";
@import "vector-map.less";
@import "grid.less";
@import "programming.less";

.hide_card{
  display:none;
  visibility: hidden;
  opacity: 0;
}

.topic_card {
  grid-row-start: 1;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end:5;
}

.card_body {
  top: -26px;
  position: relative;
  height: 100%;
}

.card_topic {
  top: -26px;
  position: relative;
  text-align: center;
  z-index: 90;

  font-size: 0.8em;
}

.toggle_enlarge_button{

  height: 20px;
  z-index:99;
}

.button_container{
  width: 100%;
  text-align: right;
}

.card_content {
  width: 100%;
  height: 100%;

  & table {
    font-size: 12px;
  }
}

.hide_column {
  display: none;
}

.hide_row {
  display: none;
}

.relatedTopics {
  width: 100%;
}

.test_table {
  & .hide_column_test {
    visibility: hidden;
    display: none;
    // border: none;
  }

  & .hide_row_test {
    visibility: hidden;
    display: none;
  }
}

.card_enlarge {
  grid-row: 1 / span 3 !important;
  grid-column: 1 / span 3 !important;

  & .hide_column {
    visibility: visible;
    display: table-cell;
  }

  & .hide_row {
    visibility: visible;
    display: table-row;
  }

  & .hide_column_test {
    visibility: visible;
    display: table-cell;
  }

  & .hide_row_test {
    visibility: visible;
    display: table-row;
  }
}

.trends {
  padding: 0px 20px;
}

.container {
  width: 100%;
}

.nav_button {
  padding: 10px 10px;

  &:hover {
    background-color: black;
  }
}

.nav_button_highlighted {
  background-color: black;
}

.nav_container {
  width: 10vw;
  height: 100vh;
  background-color: grey;

  a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, minmax(10px, 1fr));
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  grid-gap: 15px 10px;
  height: 100vh
}

.card-display-none {
  display: none;
}

.card-hide {
  visibility: hidden;
  opacity: 0;

}

#card5 {
  background-color: pink;
}

.cards {
  // background-color: green;
  width: 100%;
  height: 100%;

  visibility: visible;
  opacity: 1;

  background-color: white;
  color: black;
}

#card1 {
  background-color: blue;

}

.card-expanded {
  background-color: red;
  grid-column: span 3;
  grid-row: span 5;
}

.card-collapse {
  background-color: yellow;
  grid-column: span 1;
  grid-row: span 1;
}

.app {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

body {
  background-color: #ecf0f1;
  color: lightgray;
  // font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-family: 'Noto Sans HK', sans-serif;
  letter-spacing: 0.05em;

  font-size: 1.1rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* transition: opacity 1s; */
  transition: visibility 0s, opacity 0.3s;
}
