@charset "utf-8";
@import "../bulma_src/bulma-0.7.5/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$background: hsl(0, 0%, 95%)
;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


.table_container {
  padding-top: 5px;
}

// for chartjs
.chart_container{
  height: 200px;
}

.map_container{
  height: 200px;
  width: 100%;
}

.cards {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  padding: 15px;
  box-shadow: 0px 0px 2px 2px #eee;

}

body {
  min-height: 100vh;
}

table {
  width:100%;
  font-size: 0.8em;

}
