nav(class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation")
  div(class="navbar-brand")
    <a class="navbar-item" href="https://www.gstatic.com">
      <img src="https://www.gstatic.com/images/branding/lockups/1x/lockup_trends_color_142x24dp.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  div(id="navbarBasicExample" class="navbar-menu")
    .navbar-start
      each val in ['Helloworld', 'Programming language','lihkg vs hkgolden','jobs ads', 'IOT','tech terms']
        a.navbar-item(href="/#"+ escape(val)) #{val}
      div(class="navbar-item has-dropdown is-hoverable")
        a(class="navbar-link") 更多
        div.navbar-dropdown
          each val in ['About','hello map','contact', 'report an issue','todo list']
            a.navbar-item(href="/#"+escape(val)) #{val}

  div.navbar-end
    a.navbar-item(href="/#github-source") github source
