.
  <script src="https://browser.sentry-cdn.com/5.7.0/bundle.min.js" integrity="sha384-pHnCJ3bbzJ+LzI19wAdyBvGAjJ5vNAC59uxeRpw5WpgkSlZUQstEADxkSbBnI95q" crossorigin="anonymous">
  </script>

  <script>
    Sentry.init({ dsn: 'https://d534e406fac14ff98434a4198c4fcfd2@sentry.io/1780238' });
  </script>
