include inc/trend_samples.pug
include inc/mixins.pug

+page_title("about page")

section.section
  .container
    .columns
      .column
        h3.h3.title.is-3 TODO list:
        ul
          li update for chart in messenger
          li add a preloading for better indication
          li update the words by google search phase
          li yahoo trend
          li twitter trend
          li colect data from 政府統計處
        h3.h3.title.is-3 Resources:
        ul
          li https://cloud.google.com/free/docs/gcp-free-tier#always-free-usage-limits
