include inc/trend_samples.pug
include inc/mixins.pug

section.section
  .container
    .columns
      .column
        h3.h3.title.is-3 TODO list:
        ul
          li yahoo trend
          li twitter trend
          li 政府統計處

section.section
  .container
    .columns.is-mobile.is-centered
      .column.is-half(style="text-align: center")
        a(href="http://louiscklaw.github.io" ) louislabs.com
