head
  include meta.pug

  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")


  script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js")


  link(rel="stylesheet", href="css/style.css")
  script(src="js/app.min.js")
