//- include inc/trend_samples.pug
include inc/mixins.pug

section.section
  .container
    .columns
      .column.is-full hot topics by country
    .columns.is-multiline
      each loc in ['HK','TW','US','CA','GB', 'FR', 'DE','FI','JP','SG']
        .column.is-one-quarter
          +dailyTrendOfLoc(loc)
