//- include inc/trend_samples.pug
include inc/mixins.pug

section.section
  .container
    .columns
      each loc in ['HK','TW','US','GB']
        .column.is-one-quarter
          +dailyTrendOfLoc(loc)
    .columns
      each loc in ['FR', 'DE','FI','JP',]
        .column.is-one-quarter
          +dailyTrendOfLoc(loc)
