include inc/mixins.pug

- var forum_list = ['jobsdb','linkedin','recruit','Career Times','Indeed']

section.section.empty_page
  .container
    h3.title.is-5 jobs ad board populatity (time against country)
    .columns
      each location in ['HK','TW','US','']
        .column.is-one-quarter
          if location != ''
            +chart_interest_over_time('forum compare (3 year, '+ location +')', {
              geo: location,
              keyword: forum_list,
              dayBack: 365 * 3
            })
          else
            +chart_interest_over_time('forum compare (3 year, world)', {
              keyword: forum_list,
              dayBack: 365 * 3
            })

section.section
  .container
    h3.title.is-5 jobs ad board populatity over country
    each years in [1]
      .columns
        each forum in forum_list
          .column.is-one-fifth
            +chart_vector_map( '"'+forum + '" heat by region ('+years+' year)', {
              keyword: forum,
              dayBack: 365 * years,
              resolution: 'COUNTRY'
            }, 'world-map')
