nav(class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation")
  div(class="navbar-brand")
    <a class="navbar-item" href="https://www.gstatic.com">
      <img src="https://www.gstatic.com/images/branding/lockups/1x/lockup_trends_color_142x24dp.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  div(id="navbarBasicExample" class="navbar-menu")
    .navbar-start
      a.navbar-item(href="/#home") Home
      a.navbar-item(href="/#home") Programming language
      a.navbar-item(href="/#home") lihkg vs hkgolden
      a.navbar-item(href="/#home") jobs board
      a.navbar-item(href="/#home") IOT
      a.navbar-item(href="/#home") tech terms
      div(class="navbar-item has-dropdown is-hoverable")
        a(class="navbar-link") 更多
        div.navbar-dropdown
          a.navbar-item(href="/#about") About
          a.navbar-item(href="/#helloworld") Helloworld
          a.navbar-item(href="/#Contact") Contact
          a.navbar-item(href="/#Report_an_issue") Report_an_issue
          a.navbar-item(href="/#政府統計處") 政府統計處

  div.navbar-end
    a.navbar-item(href="/#github-source") github source
