include inc/mixins.pug
include inc/trend_samples.pug

section.section
  .container
    .columns
      each val in ['PHP','python','Ruby', 'javascript']
        .column.is-one-quarter
          +related_queries(val+' related queries',{keyword: val}, 10)
    .columns
      each val in ['PHP','python','Ruby', 'javascript']
        .column.is-one-quarter
          +related_topics(val+' related topics',{keyword: val}, 10)
