include inc/mixins.pug

section.section
  .container
    .columns
      each year in [1,5]
        .column.is-one-quarter
          +chart_interest_over_time('lang compare '+year+' year', {
            geo: 'HK',
            keyword: ['PHP','python','javascript'],
            dayBack: 365 * year
          })

      .column.is-half
        each year in [10]
          +chart_interest_over_time('lang compare '+year+' year', {
            geo: 'HK',
            keyword: ['PHP','python','javascript'],
            dayBack: 365 * year
          })


section.section
  .container
    .columns
      each val in ['PHP','python','Ruby', 'javascript']
        .column.is-one-quarter
          +related_queries(val+' related queries',{keyword: val}, 10)
    .columns
      each val in ['PHP','python','Ruby', 'javascript']
        .column.is-one-quarter
          +related_topics(val+' related topics',{keyword: val}, 10)
