include inc/mixins.pug

section.section
  .container
    .columns
      each year in [1,5]
        .column.is-one-quarter
          +chart_interest_over_time('lang compare '+year+' year', {
            geo: 'HK',
            keyword: ['PHP','python','javascript','golang','RUST'],
            dayBack: 365 * year
          })

      .column.is-half
        each year in [10]
          +chart_interest_over_time('language compare '+year+' year', {
            geo: 'HK',
            keyword: ['PHP','python','javascript','golang','RUST'],
            dayBack: 365 * year
          })

section.section
  .container
    each years in [1,5,10]
      .columns
        each prog_lang in ['PHP','python','Ruby', 'javascript', 'RUST']
          .column.is-one-fifth
            +chart_vector_map( prog_lang + ' heat by region ('+years+' year)', {
              keyword: prog_lang,
              dayBack: 365 * years,
              resolution: 'COUNTRY'
            }, 'world-map')


  .container
    .columns
      each val in ['PHP','python','Ruby', 'javascript', 'RUST']
        .column.is-one-fifth
          +related_queries(val+' related queries',{keyword: val}, 10)
    .columns
      each val in ['PHP','python','Ruby', 'javascript', 'RUST']
        .column.is-one-fifth
          +related_topics(val+' related topics',{keyword: val}, 10)
