//- include mi.pug

section.section
  .container
    .columns
      each val in ['HK','US','TW','JP']
        .column.is-one-quarter
          +dailyTrendOfLoc(val)
    .columns
      each val in ['GB','FR','DE','IT']
        .column.is-one-quarter
          +dailyTrendOfLoc(val)
