include trend_samples.pug
include mixins.pug

section.section
  .container
    .columns
      .column.is-one-quarter
        +related_queries('PHP related queries',{keyword: 'PHP'}, 10)
      .column.is-one-quarter
        +vectormap_sample
      .column.is-one-quarter
        +related_queries_sample
      //- .column.is-one-quarter
      //-   +dailyTrendOfTW
