include trend_samples.pug

section.section
  .container
    .columns
      .column.is-one-quarter
        +test_cards
      .column.is-one-quarter
        +vectormap_sample
      .column.is-one-quarter
        +related_queries_sample
      .column.is-one-quarter
        +related_queries_sample
