.relatedTopics
  .Topic dummy related topic
  table.table
    thead
      tr
        th
          abbr(title="Position") Pos
        th Team
        th
          abbr(title="Played") Pld
    tfoot
      tr
        th
          abbr(title="Position") Pos
        th Team
        th
          abbr(title="Played") Pld
    tbody
      tr
        th 1
        th
          a(href="http://www.google.com") Leicester City
        th 38
      tr
        th 1
        th
          a(href="http://www.google.com") Leicester City
        th 38
      tr
        th 1
        th
          a(href="http://www.google.com") Leicester City
        th 38
      tr
        th 1
        th
          a(href="http://www.google.com") Leicester City
        th 38
