head
  include meta.pug

  script(src="https://unpkg.com/animate-css-grid@latest")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap")

  //- script(src="https://unpkg.com/animate-css-grid@latest")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")

  script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js")

  link(rel="stylesheet", href="css/jquery-jvectormap-2.0.3.css")
  script(src="https://code.jquery.com/jquery-3.4.1.js")
  script(src="js/jquery-jvectormap-2.0.3.min.js")
  script(src="js/jquery-jvectormap-world-mill.js")



  link(rel="stylesheet", href="css/style.css")

  title Document
