nav.nav_container
  ul
    li
      .nav_button#home
        a.nav_link(href="#home")
          .nav_button <i class="fas fa-home"></i> Home
      .nav_button#programming
        a.nav_link(href="#programming")
          .nav_button Programming
      .nav_button#lihkg_vs_hkgolden
        a.nav_link(href="#lihkg_vs_hkgolden")
          .nav_button lihkg vs hkgolden
      .nav_button#jobs
        a.nav_link(href="#jobs")
          .nav_button Jobs
      .nav_button#iot
        a.nav_link(href="#iot")
          .nav_button IOT
      .nav_button#tech
        a.nav_link(href="#tech")
          .nav_button Tech
      .nav_button#trending_search
        a.nav_link(href="#trending_search")
          .nav_button trending_search


      .nav_button#helloworld
        a.nav_link(href="#helloworld")
          .nav_button helloworld
